################################################################################
# Package

[package]
authors = ['Unique Network <support@uniquenetwork.io>']
build = 'build.rs'
description = 'Quartz Runtime'
edition = '2021'
homepage = 'https://unique.network'
license = 'GPLv3'
name = 'quartz-runtime'
repository = 'https://github.com/UniqueNetwork/unique-chain'
version = '0.9.18'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[features]
default = ['std']
runtime-benchmarks = [
    'hex-literal',
    'frame-benchmarking',
    'frame-support/runtime-benchmarks',
    'frame-system-benchmarking',
    'frame-system/runtime-benchmarks',
    'pallet-ethereum/runtime-benchmarks',
    'pallet-evm-migration/runtime-benchmarks',
    'pallet-evm-coder-substrate/runtime-benchmarks',
    'pallet-balances/runtime-benchmarks',
    'pallet-timestamp/runtime-benchmarks',
    'pallet-common/runtime-benchmarks',
    'pallet-fungible/runtime-benchmarks',
    'pallet-refungible/runtime-benchmarks',
    'pallet-nonfungible/runtime-benchmarks',
    'pallet-unique/runtime-benchmarks',
    'pallet-inflation/runtime-benchmarks',
    'pallet-xcm/runtime-benchmarks',
    'sp-runtime/runtime-benchmarks',
    'xcm-builder/runtime-benchmarks',
]
std = [
    'codec/std',
    'cumulus-pallet-aura-ext/std',
    'cumulus-pallet-parachain-system/std',
    'cumulus-pallet-xcm/std',
    'cumulus-pallet-xcmp-queue/std',
    'cumulus-primitives-core/std',
    'cumulus-primitives-utility/std',
    'frame-executive/std',
    'frame-support/std',
    'frame-system/std',
    'frame-system-rpc-runtime-api/std',
    'pallet-aura/std',
    'pallet-balances/std',
    # 'pallet-contracts/std',
    # 'pallet-contracts-primitives/std',
    # 'pallet-contracts-rpc-runtime-api/std',
    # 'pallet-contract-helpers/std',
    'pallet-randomness-collective-flip/std',
    'pallet-sudo/std',
    'pallet-timestamp/std',
    'pallet-transaction-payment/std',
    'pallet-transaction-payment-rpc-runtime-api/std',
    'pallet-treasury/std',
    # 'pallet-vesting/std',
    'pallet-evm/std',
    'pallet-evm-migration/std',
    'pallet-evm-contract-helpers/std',
    'pallet-evm-transaction-payment/std',
    'pallet-evm-coder-substrate/std',
    'pallet-ethereum/std',
    'pallet-base-fee/std',
    'fp-rpc/std',
    'up-rpc/std',
    'fp-evm-mapping/std',
    'fp-self-contained/std',
    'parachain-info/std',
    'serde',
    'pallet-inflation/std',
    'pallet-common/std',
    'pallet-fungible/std',
    'pallet-refungible/std',
    'pallet-nonfungible/std',
    'pallet-unique/std',
    'pallet-unq-scheduler/std',
    'pallet-charge-transaction/std',
    'up-data-structs/std',
    'sp-api/std',
    'sp-block-builder/std',
    "sp-consensus-aura/std",
    'sp-core/std',
    'sp-inherents/std',
    'sp-io/std',
    'sp-offchain/std',
    'sp-runtime/std',
    'sp-session/std',
    'sp-std/std',
    'sp-transaction-pool/std',
    'sp-version/std',
    'xcm/std',
    'xcm-builder/std',
    'xcm-executor/std',
    'unique-runtime-common/std',

    "orml-vesting/std",
]
limit-testing = ['pallet-unique/limit-testing', 'up-data-structs/limit-testing']

################################################################################
# Substrate Dependencies

[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '3.1.2'

[dependencies.frame-benchmarking]
default-features = false
git = 'https://github.com/paritytech/substrate'
optional = true
branch = 'master'

[dependencies.frame-executive]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.frame-support]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.frame-system]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.frame-system-benchmarking]
default-features = false
git = 'https://github.com/paritytech/substrate'
optional = true
branch = 'master'

[dependencies.frame-system-rpc-runtime-api]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.hex-literal]
optional = true
version = '0.3.3'

[dependencies.serde]
default-features = false
features = ['derive']
optional = true
version = '1.0.130'

[dependencies.pallet-aura]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.pallet-balances]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

# Contracts specific packages
# [dependencies.pallet-contracts]
# git = 'https://github.com/paritytech/substrate'
# default-features = false
# branch = 'master'
# version = '4.0.0-dev'

# [dependencies.pallet-contracts-primitives]
# git = 'https://github.com/paritytech/substrate'
# default-features = false
# branch = 'master'
# version = '4.0.0-dev'

# [dependencies.pallet-contracts-rpc-runtime-api]
# git = 'https://github.com/paritytech/substrate'
# default-features = false
# branch = 'master'
# version = '4.0.0-dev'

[dependencies.pallet-randomness-collective-flip]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.pallet-sudo]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.pallet-timestamp]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.pallet-transaction-payment]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.pallet-transaction-payment-rpc-runtime-api]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.pallet-treasury]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

# [dependencies.pallet-vesting]
# default-features = false
# git = 'https://github.com/paritytech/substrate'
# branch = 'master'

[dependencies.sp-arithmetic]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.sp-api]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.sp-block-builder]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.sp-core]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.sp-consensus-aura]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.sp-inherents]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.sp-io]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.sp-offchain]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.sp-runtime]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.sp-session]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.sp-std]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.sp-transaction-pool]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.sp-version]
default-features = false
git = 'https://github.com/paritytech/substrate'
branch = 'master'

[dependencies.smallvec]
version = '1.6.1'

################################################################################
# Cumulus dependencies

[dependencies.parachain-info]
default-features = false
git = 'https://github.com/paritytech/cumulus'
branch = 'master'

[dependencies.cumulus-pallet-aura-ext]
git = 'https://github.com/paritytech/cumulus'
branch = 'master'
default-features = false

[dependencies.cumulus-pallet-parachain-system]
git = 'https://github.com/paritytech/cumulus'
branch = 'master'
default-features = false

[dependencies.cumulus-primitives-core]
git = 'https://github.com/paritytech/cumulus'
branch = 'master'
default-features = false

[dependencies.cumulus-pallet-xcm]
git = 'https://github.com/paritytech/cumulus'
branch = 'master'
default-features = false

[dependencies.cumulus-pallet-dmp-queue]
git = 'https://github.com/paritytech/cumulus'
branch = 'master'
default-features = false

[dependencies.cumulus-pallet-xcmp-queue]
git = 'https://github.com/paritytech/cumulus'
branch = 'master'
default-features = false

[dependencies.cumulus-primitives-utility]
git = 'https://github.com/paritytech/cumulus'
branch = 'master'
default-features = false

[dependencies.cumulus-primitives-timestamp]
git = 'https://github.com/paritytech/cumulus'
branch = 'master'
default-features = false

################################################################################
# Polkadot dependencies

[dependencies.polkadot-parachain]
git = 'https://github.com/paritytech/polkadot'
branch = 'master'
default-features = false

[dependencies.xcm]
git = 'https://github.com/paritytech/polkadot'
branch = 'master'
default-features = false

[dependencies.xcm-builder]
git = 'https://github.com/paritytech/polkadot'
branch = 'master'
default-features = false

[dependencies.xcm-executor]
git = 'https://github.com/paritytech/polkadot'
branch = 'master'
default-features = false

[dependencies.pallet-xcm]
git = 'https://github.com/paritytech/polkadot'
branch = 'master'
default-features = false

[dependencies.orml-vesting]
git = 'https://github.com/uniquenetwork/open-runtime-module-library'
branch = 'master'
version = "0.4.1-dev"
default-features = false

################################################################################
# local dependencies

[dependencies]
unique-runtime-common = { path = "../common", default-features = false }
scale-info = { version = "2.0.1", default-features = false, features = [
    "derive",
] }
derivative = "2.2.0"
pallet-unique = { path = '../../pallets/unique', default-features = false }
up-rpc = { path = "../../primitives/rpc", default-features = false }
fp-evm-mapping = { default-features = false, git = "https://github.com/uniquenetwork/frontier", branch = "master" }
pallet-inflation = { path = '../../pallets/inflation', default-features = false }
up-data-structs = { path = '../../primitives/data-structs', default-features = false }
pallet-common = { default-features = false, path = "../../pallets/common" }
pallet-fungible = { default-features = false, path = "../../pallets/fungible" }
pallet-refungible = { default-features = false, path = "../../pallets/refungible" }
pallet-nonfungible = { default-features = false, path = "../../pallets/nonfungible" }
pallet-unq-scheduler = { path = '../../pallets/scheduler', default-features = false }
# pallet-contract-helpers = { path = '../pallets/contract-helpers', default-features = false, version = '0.1.0' }
pallet-charge-transaction = { git = "https://github.com/uniquenetwork/pallet-sponsoring", branch = 'master', package = "pallet-template-transaction-payment", default-features = false, version = '3.0.0' }
pallet-evm-migration = { path = '../../pallets/evm-migration', default-features = false }
pallet-evm-contract-helpers = { path = '../../pallets/evm-contract-helpers', default-features = false }
pallet-evm-transaction-payment = { path = '../../pallets/evm-transaction-payment', default-features = false }
pallet-evm-coder-substrate = { default-features = false, path = "../../pallets/evm-coder-substrate" }
pallet-evm = { default-features = false, git = "https://github.com/uniquenetwork/frontier", branch = "master" }
pallet-ethereum = { default-features = false, git = "https://github.com/uniquenetwork/frontier", branch = "master" }
pallet-base-fee = { default-features = false, git = "https://github.com/uniquenetwork/frontier", branch = "master" }
fp-rpc = { default-features = false, git = "https://github.com/uniquenetwork/frontier", branch = "master" }
fp-self-contained = { default-features = false, git = "https://github.com/uniquenetwork/frontier", branch = "master" }

################################################################################
# Build Dependencies

[build-dependencies.substrate-wasm-builder]
git = 'https://github.com/paritytech/substrate'
branch = 'master'
