[workspace]
default-members = ['client/*', 'node/*', 'runtime/opal']
members = [
	'client/*',
	'crates/*',
	'node/*',
	'pallets/*',
	'primitives/*',
	'runtime/opal',
	'runtime/quartz',
	'runtime/tests',
	'runtime/unique',
]
package.version = "1.3.0"
resolver = "2"

[profile.release]
# Runtime requires unwinding
panic = "unwind"

[profile.production]
codegen-units = 1
inherits = "release"
lto = true
opt-level = 3

[profile.integration-tests]
debug-assertions = true
inherits = "release"

[workspace.dependencies]
# Unique
app-promotion-rpc = { path = "primitives/app_promotion_rpc", default-features = false }
evm-coder = { version = "0.4.2", default-features = false, features = ['bondrewd'] }
pallet-app-promotion = { path = "pallets/app-promotion", default-features = false }
pallet-balances-adapter = { default-features = false, path = "pallets/balances-adapter" }
pallet-charge-transaction = { package = "pallet-template-transaction-payment", default-features = false, git = "https://github.com/uniquenetwork/pallet-sponsoring", branch = "polkadot-v1.3.0" }
pallet-collator-selection = { default-features = false, path = "pallets/collator-selection" }
pallet-common = { default-features = false, path = "pallets/common" }
pallet-configuration = { default-features = false, path = "pallets/configuration" }
pallet-evm-coder-substrate = { default-features = false, path = "pallets/evm-coder-substrate" }
pallet-evm-contract-helpers = { path = "pallets/evm-contract-helpers", default-features = false }
pallet-evm-migration = { path = "pallets/evm-migration", default-features = false }
pallet-evm-transaction-payment = { path = "pallets/evm-transaction-payment", default-features = false }
pallet-fungible = { default-features = false, path = "pallets/fungible" }
pallet-gov-origins = { default-features = false, path = "pallets/gov-origins" }
pallet-identity = { default-features = false, path = "pallets/identity" }
pallet-inflation = { path = "pallets/inflation", default-features = false }
pallet-maintenance = { default-features = false, path = "pallets/maintenance" }
pallet-nonfungible = { default-features = false, path = "pallets/nonfungible" }
pallet-refungible = { default-features = false, path = "pallets/refungible" }
pallet-structure = { default-features = false, path = "pallets/structure" }
pallet-test-utils = { default-features = false, path = "test-pallets/utils" }
pallet-unique = { path = "pallets/unique", default-features = false }
precompile-utils-macro = { path = "runtime/common/ethereum/precompiles/utils/macro" }
struct-versioning = { path = "crates/struct-versioning" }
uc-rpc = { path = "client/rpc" }
unique-rpc = { path = "node/rpc" }
up-common = { path = "primitives/common", default-features = false }
up-data-structs = { path = "primitives/data-structs", default-features = false }
up-pov-estimate-rpc = { path = "primitives/pov-estimate-rpc", default-features = false }
up-rpc = { path = "primitives/rpc", default-features = false }
up-sponsorship = { default-features = false, git = "https://github.com/uniquenetwork/pallet-sponsoring", branch = "polkadot-v1.3.0" }

# Foreign Assets
pallet-xfun = { default-features = false, path = "pallets/xfun" }
pallet-xnft = { default-features = false, git = "https://github.com/uniquenetwork/xnft" }
xnft-primitives = { default-features = false, git = "https://github.com/uniquenetwork/xnft" }

# Unique: Runtimes
opal-runtime = { path = "runtime/opal" }
quartz-runtime = { path = "runtime/quartz" }
unique-runtime = { path = "runtime/unique" }

# Frontier (Unique patches over the Parity version)
fc-api = { default-features = false, git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }
fc-consensus = { git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }
fc-db = { default-features = false, git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }
fc-mapping-sync = { git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }
fc-rpc = { default-features = false, git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }
fc-rpc-core = { default-features = false, git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }
fp-evm = { default-features = false, git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }
fp-rpc = { default-features = false, git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }
fp-self-contained = { default-features = false, features = [
	"serde",
], git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }
fp-storage = { default-features = false, git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }
pallet-base-fee = { default-features = false, git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }
pallet-ethereum = { default-features = false, git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }
pallet-evm = { default-features = false, git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }
pallet-evm-precompile-simple = { default-features = false, git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v1.3.0" }

# Parity
codec = { default-features = false, features = ['derive'], package = 'parity-scale-codec', version = "3.6.5" }
cumulus-client-cli = "0.4.0"
cumulus-client-collator = "0.4.0"
cumulus-client-consensus-aura = "0.4.0"
cumulus-client-consensus-common = "0.4.0"
cumulus-client-consensus-proposer = "0.4.0"
cumulus-client-network = "0.4.0"
cumulus-client-service = "0.4.0"
cumulus-pallet-aura-ext = { default-features = false, version = "0.4.0" }
cumulus-pallet-dmp-queue = { default-features = false, version = "0.4.0" }
cumulus-pallet-parachain-system = { default-features = false, version = "0.4.0" }
cumulus-pallet-xcm = { default-features = false, version = "0.4.0" }
cumulus-pallet-xcmp-queue = { default-features = false, version = "0.4.0" }
cumulus-primitives-aura = { default-features = false, version = "0.4.0" }
cumulus-primitives-core = { default-features = false, version = "0.4.0" }
cumulus-primitives-parachain-inherent = { default-features = false, version = "0.4.0" }
cumulus-primitives-timestamp = { default-features = false, version = "0.4.0" }
cumulus-primitives-utility = { default-features = false, version = "0.4.0" }
cumulus-relay-chain-inprocess-interface = "0.4.0"
cumulus-relay-chain-interface = "0.4.0"
cumulus-relay-chain-minimal-node = "0.4.0"
frame-executive = { default-features = false, version = "25.0.0" }
frame-support = { default-features = false, version = "25.0.0" }
frame-system = { default-features = false, version = "25.0.0" }
frame-system-rpc-runtime-api = { default-features = false, version = "23.0.0" }
pallet-aura = { default-features = false, version = "24.0.0" }
pallet-authorship = { default-features = false, version = "25.0.0" }
pallet-balances = { default-features = false, version = "25.0.0" }
pallet-collective = { default-features = false, version = "25.0.0" }
pallet-democracy = { default-features = false, version = "25.0.0" }
pallet-membership = { default-features = false, version = "25.0.0" }
pallet-preimage = { default-features = false, version = "25.0.0" }
pallet-ranked-collective = { default-features = false, version = "25.0.0" }
pallet-referenda = { default-features = false, version = "25.0.0" }
pallet-scheduler = { default-features = false, version = "26.0.0" }
pallet-session = { default-features = false, version = "25.0.0" }
pallet-state-trie-migration = { default-features = false, version = "26.0.0" }
pallet-sudo = { default-features = false, version = "25.0.0" }
pallet-timestamp = { default-features = false, version = "24.0.0" }
pallet-transaction-payment = { default-features = false, version = "25.0.0" }
pallet-transaction-payment-rpc = "27.0.0"
pallet-transaction-payment-rpc-runtime-api = { default-features = false, version = "25.0.0" }
pallet-treasury = { default-features = false, version = "24.0.0" }
pallet-utility = { default-features = false, version = "25.0.0" }
pallet-xcm = { default-features = false, version = "4.0.0" }
parity-scale-codec = { version = "3.6.5", features = ["derive"], default-features = false }
polkadot-cli = "4.0.0"
polkadot-parachain-primitives = { default-features = false, version = "3.0.0" }
polkadot-primitives = "4.0.0"
polkadot-runtime-common = { default-features = false, version = "4.0.0" }
polkadot-service = "4.0.0"
sc-basic-authorship = "0.31.0"
sc-chain-spec = "24.0.0"
sc-cli = "0.33.0"
sc-client-api = "25.0.0"
sc-consensus = "0.30.0"
sc-consensus-manual-seal = "0.32.0"
sc-executor = "0.29.0"
sc-network = "0.31.0"
sc-network-sync = "0.30.0"
sc-rpc = "26.0.0"
sc-rpc-api = "0.30.0"
sc-service = "0.32.0"
sc-sysinfo = "24.0.0"
sc-telemetry = "12.0.0"
sc-tracing = "25.0.0"
sc-transaction-pool = "25.0.0"
scale-info = { version = "2.9.0", default-features = false, features = ["derive"] }
sp-api = { default-features = false, version = "23.0.0" }
sp-arithmetic = { default-features = false, version = "20.0.0" }
sp-block-builder = { default-features = false, version = "23.0.0" }
sp-blockchain = "25.0.0"
sp-consensus-aura = { default-features = false, version = "0.29.0" }
sp-core = { default-features = false, version = "25.0.0" }
sp-externalities = "0.23.0"
sp-inherents = { default-features = false, version = "23.0.0" }
sp-io = { default-features = false, version = "27.0.0" }
sp-keystore = "0.31.0"
sp-offchain = { default-features = false, version = "23.0.0" }
sp-runtime = { default-features = false, version = "28.0.0" }
sp-session = { default-features = false, version = "24.0.0" }
sp-staking = { default-features = false, version = "23.0.0" }
sp-state-machine = "0.32.0"
sp-std = { default-features = false, version = "12.0.0" }
sp-storage = { default-features = false, version = "17.0.0" }
sp-timestamp = "23.0.0"
sp-tracing = "14.0.0"
sp-transaction-pool = { default-features = false, version = "23.0.0" }
sp-trie = { default-features = false, version = "26.0.0" }
sp-version = { default-features = false, version = "26.0.0" }
sp-weights = { default-features = false, version = "24.0.0" }
staging-parachain-info = { default-features = false, version = "0.4.0" }
staging-xcm = { default-features = false, version = "4.0.0" }
staging-xcm-builder = { default-features = false, version = "4.0.0" }
staging-xcm-executor = { default-features = false, version = "4.0.0" }
substrate-frame-rpc-system = "25.0.0"
substrate-prometheus-endpoint = "0.16.0"

# Parity: Build utils
substrate-build-script-utils = "9.0.0"
substrate-wasm-builder = "14.0.0"

# Parity: Benchmarking
frame-benchmarking = { default-features = false, version = "25.0.0" }
frame-benchmarking-cli = "29.0.0"
frame-system-benchmarking = { default-features = false, version = "25.0.0" }

# Parity: Try Runtime
frame-try-runtime = { default-features = false, version = "0.31.0" }
try-runtime-cli = "0.35.0"

# ORML
orml-traits = { default-features = false, git = "https://github.com/uniquenetwork/open-runtime-module-library", branch = "unique-polkadot-v1.3.0" }
orml-vesting = { default-features = false, git = "https://github.com/uniquenetwork/open-runtime-module-library", branch = "unique-polkadot-v1.3.0" }
orml-xcm-support = { default-features = false, git = "https://github.com/uniquenetwork/open-runtime-module-library", branch = "unique-polkadot-v1.3.0" }
orml-xtokens = { default-features = false, git = "https://github.com/uniquenetwork/open-runtime-module-library", branch = "unique-polkadot-v1.3.0" }

# Other
derivative = { version = "2.2.0", features = ["use_core"] }
ethereum = { version = "0.14.0", default-features = false }
evm-core = { git = "https://github.com/rust-blockchain/evm", rev = "b7b82c7e1fc57b7449d6dfa6826600de37cc1e65", default-features = false }
hex-literal = "0.4.1"
impl-trait-for-tuples = "0.2.2"
jsonrpsee = { version = "0.16.3", features = ["macros", "server"] }
log = { version = "0.4.20", default-features = false }
num_enum = { version = "0.7.0", default-features = false }
serde = { default-features = false, features = ['derive'], version = "1.0.188" }
smallvec = "1.11.1"
