version: "3.5"

services:
  blockchain_nodes:
    build:
      context: ./
      dockerfile: Dockerfile-parachain
      args:
        - RUST_TOOLCHAIN=${RUST_TOOLCHAIN:?err}
        - RUST_C=${RUST_C:?err}
        - POLKA_VERSION=${POLKA_VERSION:?err}
        - NFT_BRANCH=${NFT_BRANCH:?err}
    volumes:
      - ./launch-config.json:/polkadot-launch/launch-config.json
      - ./runtime_types.json:/polkadot-launch/runtime_types.json
    env_file:
      - ./.env

  integration_tests:
    build:
      context: tests/
      dockerfile: Dockerfile-tests
    environment:
      RPC_URL: http://blockchain_nodes:9934/
    volumes:
      - ./tests/src/config_docker.ts:/nft_parachain/src/config.ts
      - /home/ubuntu/mochawesome-report:/nft_parachain/mochawesome-report
      - ./runtime_types.json:/runtime_types.json
    depends_on:
      - blockchain_nodes
