{
    "relaychain": {
        "bin": "/polkadot/target/release/polkadot",
        "chain": "{{ RELAY_CHAIN_TYPE }}-local",
        "chainInitializer": [
                "chainql",
                "--tla-code=spec=import '${spec}'",
                "6validators.jsonnet"
            ],	
        "nodes": [
            {
                "name": "alice",
                "rpcPort": 9843,
                "port": 30444,
                "flags": [
                    "--unsafe-rpc-external",
                    "-lparachain::candidate_validation=debug"
                ]
            },
            {
                "name": "bob",
                "rpcPort": 9854,
                "port": 30555,
                "flags": [
                    "--unsafe-rpc-external",
                    "-lparachain::candidate_validation=debug"
                ]
            },
            {
                "name": "charlie",
                "rpcPort": 9865,
                "port": 30666,
                "flags": [
                    "--unsafe-rpc-external",
                    "-lparachain::candidate_validation=debug"
                ]
            },
            {
                "name": "dave",
                "rpcPort": 9876,
                "port": 30777,
                "flags": [
                    "--unsafe-rpc-external",
                    "-lparachain::candidate_validation=debug"
                ]
            },
            {
                "name": "eve",
                "rpcPort": 9887,
                "port": 30888,
                "flags": [
                    "--unsafe-rpc-external",
                    "-lparachain::candidate_validation=debug"
                ]
            },
            {
                "name": "ferdie",
                "rpcPort": 9898,
                "port": 30999,
                "flags": [
                    "--unsafe-rpc-external",
                    "-lparachain::candidate_validation=debug"
                ]
            }            
        ],
        "genesis": {
            "runtime": {
                "runtime_genesis_config": {
                    "parachainsConfiguration": {
                        "config": {
                            "validation_upgrade_frequency": 1,
                            "validation_upgrade_delay": 1
                        }
                    }
                }
            }
        }
    },
    "parachains": [
        {
            "bin": "/unique-chain/target/release/unique-collator",
            "id": "2037",
            "balance": "1000000000000000000000000",
            "nodes": [
                {
                    "port": 31200,
                    "rpcPort": 9933,
                    "name": "alice",
                    "flags": [
                        "-lxcm=trace,parity_ws::handler=debug,jsonrpsee_core=trace,jsonrpsee-core=trace,jsonrpsee_ws_server=debug",
                        "--unsafe-rpc-external"
		            ]
                }
            ]
        },
        {
            "bin": "/acala/target/release/acala",
            "id": "2000",
            "chain":  "acala-dev",
            "balance": "1000000000000000000000",
            "chainInitializer": [
                    "chainql",
                    "-e",
                    "(import '${spec}') {id+: '-local'}"
            ],	    
            "nodes": [
                {
                    "rpcPort": 9946,
                    "port": 31202,
                    "name": "alice",
                    "flags": [
                        "--unsafe-rpc-external"
		            ]
                }
              ]
        },
        {
            "bin": "/moonbeam/target/release/moonbeam",
            "id": "2004",
            "balance": "1000000000000000000000",
            "chain": "moonbeam-local",
            "specNamePrefix": "moonbeam-local-",
            "nodes": [
                {
                    "rpcPort": 9947,
                    "port": 31203,
                    "name": "alice",
                    "flags": [
                        "--unsafe-rpc-external",
  			            "--",
                        "--execution=wasm"
                    ]
                }
            ]
        },
        {
            "bin": "/cumulus/target/release/cumulus",
            "id": "1000",
            "chain": "statemint-local",
            "balance": "1000000000000000000000000",
            "nodes": [
                {
                    "rpcPort": 9948,
                    "port": 31204,
                    "name": "alice",
                    "flags": [
                        "--unsafe-rpc-external"
		            ]
                }
            ]
        },
        {
            "bin": "/astar/target/release/astar",
            "id": "2006",
            "chain": "astar-dev",
            "balance": "1000000000000000000000000",
            "nodes": [
                {
                    "rpcPort": 9949,
                    "port": 31205,
                    "name": "alice",
                    "flags": [
                       "--unsafe-rpc-external"
                    ]
                }
            ]
        }
    ],
    "simpleParachains": [],
    "hrmpChannels": [
        {
            "sender": 2037,
            "recipient": 2000,
            "maxCapacity": 8,
            "maxMessageSize": 512
        },
        {
            "sender": 2000,
            "recipient": 2037,
            "maxCapacity": 8,
            "maxMessageSize": 512
        },
        {
            "sender": 2037,
            "recipient": 2004,
            "maxCapacity": 8,
            "maxMessageSize": 512
        },
        {
            "sender": 2004,
            "recipient": 2037,
            "maxCapacity": 8,
            "maxMessageSize": 512
        },
        {
            "sender": 2037,
            "recipient": 1000,
            "maxCapacity": 8,
            "maxMessageSize": 512
        },
        {
            "sender": 1000,
            "recipient": 2037,
            "maxCapacity": 8,
            "maxMessageSize": 512
        },
        {
            "sender": 2006,
            "recipient": 2037,
            "maxCapacity": 8,
            "maxMessageSize": 512
        },
        {
            "sender": 2037,
            "recipient": 2006,
            "maxCapacity": 8,
            "maxMessageSize": 512
        }        
    ],
    "finalization": false
}

