################################################################################
# Package

[package]
authors = ['Unique Network <support@uniquenetwork.io>']
build = 'build.rs'
description = 'Unique Runtime'
edition = '2021'
homepage = 'https://unique.network'
license = 'GPLv3'
name = 'unique-runtime'
repository = 'https://github.com/UniqueNetwork/unique-chain'
version.workspace = true

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[features]
default = ['std', 'unique-runtime']
state-version-0 = []
limit-testing = ['pallet-unique/limit-testing', 'up-data-structs/limit-testing']
pov-estimate = []
runtime-benchmarks = [
	"pallet-preimage/runtime-benchmarks",
	'frame-benchmarking',
	'frame-support/runtime-benchmarks',
	'frame-system-benchmarking',
	'frame-system/runtime-benchmarks',
	'pallet-app-promotion/runtime-benchmarks',
	'pallet-balances/runtime-benchmarks',
	'pallet-collator-selection/runtime-benchmarks',
	'pallet-common/runtime-benchmarks',
	'pallet-configuration/runtime-benchmarks',
	'pallet-ethereum/runtime-benchmarks',
	'pallet-evm-coder-substrate/runtime-benchmarks',
	'pallet-evm-migration/runtime-benchmarks',
	'pallet-foreign-assets/runtime-benchmarks',
	'pallet-fungible/runtime-benchmarks',
	'pallet-identity/runtime-benchmarks',
	'pallet-inflation/runtime-benchmarks',
	'pallet-maintenance/runtime-benchmarks',
	'pallet-nonfungible/runtime-benchmarks',
	'pallet-refungible/runtime-benchmarks',
	'pallet-structure/runtime-benchmarks',
	'pallet-timestamp/runtime-benchmarks',
	'pallet-unique/runtime-benchmarks',
	'pallet-xcm/runtime-benchmarks',
	'sp-runtime/runtime-benchmarks',
	'up-data-structs/runtime-benchmarks',
	'xcm-builder/runtime-benchmarks',
]
std = [
	'codec/std',
	'cumulus-pallet-aura-ext/std',
	'cumulus-pallet-parachain-system/std',
	'cumulus-pallet-xcm/std',
	'cumulus-pallet-xcmp-queue/std',
	'cumulus-primitives-core/std',
	'cumulus-primitives-utility/std',
	'frame-executive/std',
	'frame-support/std',
	'frame-system-rpc-runtime-api/std',
	'frame-system/std',
	'frame-try-runtime/std',
	'pallet-aura/std',
	'pallet-balances/std',
	# 'pallet-contracts/std',
	# 'pallet-contracts-primitives/std',
	# 'pallet-contracts-rpc-runtime-api/std',
	# 'pallet-contract-helpers/std',
	"pallet-authorship/std",
	"pallet-identity/std",
	"pallet-preimage/std",
	"pallet-session/std",
	"pallet-state-trie-migration/std",
	"sp-consensus-aura/std",
	'app-promotion-rpc/std',
	'evm-coder/std',
	'fp-rpc/std',
	'fp-self-contained/std',
	'pallet-app-promotion/std',
	'pallet-balances-adapter/std',
	'pallet-base-fee/std',
	'pallet-charge-transaction/std',
	'pallet-collator-selection/std',
	'pallet-common/std',
	'pallet-configuration/std',
	'pallet-ethereum/std',
	'pallet-evm-coder-substrate/std',
	'pallet-evm-contract-helpers/std',
	'pallet-evm-migration/std',
	'pallet-evm-transaction-payment/std',
	'pallet-evm/std',
	'pallet-fungible/std',
	'pallet-inflation/std',
	'pallet-nonfungible/std',
	'pallet-refungible/std',
	'pallet-structure/std',
	'pallet-sudo/std',
	'pallet-timestamp/std',
	'pallet-transaction-payment-rpc-runtime-api/std',
	'pallet-transaction-payment/std',
	'pallet-treasury/std',
	'pallet-unique/std',
	'parachain-info/std',
	'sp-api/std',
	'sp-block-builder/std',
	'sp-core/std',
	'sp-inherents/std',
	'sp-io/std',
	'sp-offchain/std',
	'sp-runtime/std',
	'sp-session/std',
	'sp-std/std',
	'sp-transaction-pool/std',
	'sp-version/std',
	'up-common/std',
	'up-data-structs/std',
	'up-pov-estimate-rpc/std',
	'up-rpc/std',
	'up-sponsorship/std',
	'xcm-builder/std',
	'xcm-executor/std',
	'xcm/std',

	"orml-tokens/std",
	"orml-traits/std",
	"orml-vesting/std",
	"orml-xcm-support/std",
	"orml-xtokens/std",
	"pallet-foreign-assets/std",
	"pallet-maintenance/std",
]
stubgen = ["evm-coder/stubgen"]
try-runtime = [
	"pallet-authorship/try-runtime",
	"pallet-collator-selection/try-runtime",
	"pallet-identity/try-runtime",
	"pallet-preimage/try-runtime",
	"pallet-session/try-runtime",
	"pallet-state-trie-migration/try-runtime",
	'cumulus-pallet-aura-ext/try-runtime',
	'cumulus-pallet-dmp-queue/try-runtime',
	'cumulus-pallet-parachain-system/try-runtime',
	'cumulus-pallet-xcm/try-runtime',
	'cumulus-pallet-xcmp-queue/try-runtime',
	'fp-self-contained/try-runtime',
	'frame-executive/try-runtime',
	'frame-support/try-runtime',
	'frame-system/try-runtime',
	'frame-try-runtime',
	'orml-tokens/try-runtime',
	'orml-vesting/try-runtime',
	'orml-xtokens/try-runtime',
	'pallet-app-promotion/try-runtime',
	'pallet-aura/try-runtime',
	'pallet-balances/try-runtime',
	'pallet-balances-adapter/try-runtime',
	'pallet-charge-transaction/try-runtime',
	'pallet-common/try-runtime',
	'pallet-configuration/try-runtime',
	'pallet-ethereum/try-runtime',
	'pallet-evm-coder-substrate/try-runtime',
	'pallet-evm-contract-helpers/try-runtime',
	'pallet-evm-migration/try-runtime',
	'pallet-evm-transaction-payment/try-runtime',
	'pallet-evm/try-runtime',
	'pallet-foreign-assets/try-runtime',
	'pallet-fungible/try-runtime',
	'pallet-inflation/try-runtime',
	'pallet-maintenance/try-runtime',
	'pallet-nonfungible/try-runtime',
	'pallet-refungible/try-runtime',
	'pallet-structure/try-runtime',
	'pallet-sudo/try-runtime',
	'pallet-timestamp/try-runtime',
	'pallet-transaction-payment/try-runtime',
	'pallet-treasury/try-runtime',
	'pallet-unique/try-runtime',
	'pallet-xcm/try-runtime',
	'parachain-info/try-runtime',
]
unique-runtime = ['app-promotion', 'refungible']

app-promotion = []
collator-selection = []
preimage = []
refungible = []
scheduler = []

################################################################################
# local dependencies

[dependencies]
# Note: `package = "parity-scale-codec"` must be supplied since the `Encode` macro searches for it.
codec = { workspace = true, package = "parity-scale-codec" }

cumulus-pallet-aura-ext = { workspace = true }
cumulus-pallet-dmp-queue = { workspace = true }
cumulus-pallet-parachain-system = { workspace = true }
cumulus-pallet-xcm = { workspace = true }
cumulus-pallet-xcmp-queue = { workspace = true }
cumulus-primitives-core = { workspace = true }
cumulus-primitives-timestamp = { workspace = true }
cumulus-primitives-utility = { workspace = true }
frame-executive = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
frame-system-rpc-runtime-api = { workspace = true }
orml-tokens = { workspace = true }
orml-traits = { workspace = true }
orml-vesting = { workspace = true }
orml-xcm-support = { workspace = true }
orml-xtokens = { workspace = true }
pallet-aura = { workspace = true }
pallet-authorship = { workspace = true }
pallet-balances = { features = ["insecure_zero_ed"], workspace = true }
pallet-preimage = { workspace = true }
pallet-session = { workspace = true }
pallet-state-trie-migration = { workspace = true }
pallet-sudo = { workspace = true }
pallet-timestamp = { workspace = true }
pallet-transaction-payment = { workspace = true }
pallet-transaction-payment-rpc-runtime-api = { workspace = true }
pallet-treasury = { workspace = true }
pallet-xcm = { workspace = true }
parachain-info = { workspace = true }
polkadot-parachain = { workspace = true }
smallvec = { workspace = true }
sp-api = { workspace = true }
sp-arithmetic = { workspace = true }
sp-block-builder = { workspace = true }
sp-consensus-aura = { workspace = true }
sp-core = { workspace = true }
sp-inherents = { workspace = true }
sp-io = { workspace = true }
sp-offchain = { workspace = true }
sp-runtime = { workspace = true }
sp-session = { workspace = true }
sp-std = { workspace = true }
sp-transaction-pool = { workspace = true }
sp-version = { workspace = true }
xcm = { workspace = true }
xcm-builder = { workspace = true }
xcm-executor = { workspace = true }

app-promotion-rpc = { workspace = true }
derivative = { workspace = true }
log = { workspace = true }
pallet-app-promotion = { workspace = true }
pallet-balances-adapter = { workspace = true }
pallet-collator-selection = { workspace = true }
pallet-common = { workspace = true }
pallet-configuration = { workspace = true }
pallet-fungible = { workspace = true }
pallet-identity = { workspace = true }
pallet-inflation = { workspace = true }
pallet-nonfungible = { workspace = true }
pallet-refungible = { workspace = true }
pallet-structure = { workspace = true }
pallet-unique = { workspace = true }
scale-info = { workspace = true }
up-common = { workspace = true }
up-data-structs = { workspace = true }
up-pov-estimate-rpc = { workspace = true }
up-rpc = { workspace = true }
# pallet-contract-helpers = { path = '../pallets/contract-helpers', default-features = false, version = '0.1.0' }
evm-coder = { workspace = true }
fp-evm = { workspace = true }
fp-rpc = { workspace = true }
fp-self-contained = { workspace = true }
num_enum = { workspace = true }
pallet-base-fee = { workspace = true }
pallet-charge-transaction = { workspace = true }
pallet-ethereum = { workspace = true }
pallet-evm = { workspace = true }
pallet-evm-coder-substrate = { workspace = true }
pallet-evm-contract-helpers = { workspace = true }
pallet-evm-migration = { workspace = true }
pallet-evm-precompile-simple = { workspace = true }
pallet-evm-transaction-payment = { workspace = true }
pallet-foreign-assets = { workspace = true }
pallet-maintenance = { workspace = true }
precompile-utils-macro = { workspace = true }
up-sponsorship = { workspace = true }

################################################################################
# Optional dependencies

frame-benchmarking = { workspace = true, optional = true }
frame-system-benchmarking = { workspace = true, optional = true }
frame-try-runtime = { workspace = true, optional = true }
serde = { workspace = true, optional = true }

################################################################################
# Test dependencies

pallet-test-utils = { workspace = true }

################################################################################
# Other Dependencies

impl-trait-for-tuples = { workspace = true }
hex-literal = { workspace = true }

[build-dependencies]
substrate-wasm-builder = { workspace = true }
