[package]
edition = "2021"
license = "GPLv3"
name = "uc-rpc"
version = "0.1.4"

[dependencies]
anyhow = "1.0.57"
app-promotion-rpc.path = "../../primitives/app_promotion_rpc"
codec = { package = "parity-scale-codec", version = "3.1.2" }
jsonrpsee = { version = "0.16.2", features = ["macros", "server"] }
rmrk-rpc.path = "../../primitives/rmrk-rpc"
trie-db = { version = "0.24.0", default-features = false }
up-common = { default-features = false, path = "../../primitives/common" }
up-data-structs = { default-features = false, path = "../../primitives/data-structs" }
up-pov-estimate-rpc = { path = "../../primitives/pov-estimate-rpc", optional = true }
up-rpc.path = "../../primitives/rpc"
zstd = { version = "0.11.2", default-features = false }

pallet-evm = { default-features = false, git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v0.9.37" }
sc-client-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sc-rpc-api = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sc-service = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-api = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-blockchain = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-core = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-externalities = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-keystore = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-state-machine = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-trie = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }

frame-benchmarking = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }

sc-executor = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }

opal-runtime.path = "../../runtime/opal"
quartz-runtime = { path = "../../runtime/quartz", optional = true }
unique-runtime = { path = "../../runtime/unique", optional = true }

[features]
pov-estimate = [
	'opal-runtime/pov-estimate',
	'quartz-runtime?/pov-estimate',
	'unique-runtime?/pov-estimate',
	'up-pov-estimate-rpc',
]
