[package]
authors = ["Unique Network <support@uniquenetwork.io>"]
description = "Unique data structs definitions"
edition = "2021"
homepage = "https://unique.network"
license = 'GPLv3'
name = "up-data-structs"
repository = 'https://github.com/UniqueNetwork/unique-chain'
version = "0.2.2"

[dependencies]
# Note: `package = "parity-scale-codec"` must be supplied since the `Encode` macro searches for it.
codec = { workspace = true, package = "parity-scale-codec" }

bondrewd = { version = "0.1.14", features = ["derive"], default-features = false }
derivative = { workspace = true }
frame-support = { workspace = true }
pallet-evm = { workspace = true }
scale-info = { workspace = true }
serde = { workspace = true, optional = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
struct-versioning = { workspace = true }

[features]
default = ["std"]
limit-testing = []
runtime-benchmarks = []
serde1 = ["serde/alloc"]
std = [
	"codec/std",
	"frame-support/std",
	"pallet-evm/std",
	"serde/std",
	"serde1",
	"sp-core/std",
	"sp-runtime/std",
	"sp-std/std",
]
