[Unit]
Description=Westend Dave

[Service]
ExecStart=/opt/parity/polkadot \
        --dave \
        --validator \
        --base-path /var/local/westend/dave \
        --chain /opt/parity/chain-specs/westend-local-v0.9.9.json \
	--node-key-file /opt/parity/keys/relay-westend-dave-node-key \
        --execution Wasm \
	--no-prometheus \
	--no-telemetry \
        --no-mdns \
        --bootnodes /ip4/127.0.0.1/tcp/30330/p2p/12D3KooWFeip5gL9ZUKWbD4tUE1mE7hGu7m2R2eoBqeSkLa2xrVp \
                /ip4/127.0.0.1/tcp/30331/p2p/12D3KooWMkSKwDEKHsxW11YtKNnpeLQiYMZvKUy4XFpF2foZfspb \
		/ip4/127.0.0.1/tcp/30332/p2p/12D3KooWAK674KrVuH469qro6F9VupJjf3y4NztzAR76Pdn63G1x \
		/ip4/127.0.0.1/tcp/30334/p2p/12D3KooWFLkdZQ2sTsjazSotfkFY8HhHXVvT4Wp6xWcAm6aXH5qk \
		/ip4/127.0.0.1/tcp/30335/p2p/12D3KooWKAkFyAD94wDdhb1k9DgDEWNgDftzTZV7t88K1rm6wcXn \
        --port 30333 \
        --rpc-port 9873 \
        --ws-port 9874 \
	--unsafe-ws-external \
	--rpc-cors=all

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
