{
      "relaychain": {
        "bin": "/polkadot/target/release/polkadot",
        "upgradeBin": "/polkadot/target/release/polkadot",
        "upgradeWasm": "/polkadot/target/release/wbuild/westend-runtime/westend_runtime.compact.compressed.wasm",
        "chain": "westend-local",
        "nodes": [
            {
                "name": "alice",
                "wsPort": 9844,
                "rpcPort": 9843,
                "port": 30444,
                "flags": [
                    "-lparachain::candidate_validation=debug",
                    "-lxcm=trace",
                    "--rpc-cors=all",
                    "--unsafe-rpc-external",
                    "--unsafe-ws-external"
                ]
            },
            {
                "name": "bob",
                "wsPort": 9855,
                "rpcPort": 9854,
                "port": 30555,
                "flags": [
                    "-lparachain::candidate_validation=debug",
                    "-lxcm=trace",
                    "--rpc-cors=all",
                    "--unsafe-rpc-external",
                    "--unsafe-ws-external"
                ]
            },
            {
                "name": "charlie",
                "wsPort": 9866,
                "rpcPort": 9865,
                "port": 30666,
                "flags": [
                    "-lparachain::candidate_validation=debug",
                    "-lxcm=trace",
                    "--rpc-cors=all",
                    "--unsafe-rpc-external",
                    "--unsafe-ws-external"
                ]
            },
            {
                "name": "dave",
                "wsPort": 9877,
                "rpcPort": 9876,
                "port": 30777,
                "flags": [
                    "-lparachain::candidate_validation=debug",
                    "-lxcm=trace",
                    "--rpc-cors=all",
                    "--unsafe-rpc-external",
                    "--unsafe-ws-external"
                ]
            },
            {
                "name": "eve",
                "wsPort": 9888,
                "rpcPort": 9887,
                "port": 30888,
                "flags": [
                    "-lparachain::candidate_validation=debug",
                    "-lxcm=trace",
                    "--rpc-cors=all",
                    "--unsafe-rpc-external",
                    "--unsafe-ws-external"
                ]
            }
        ],
        "genesis": {
            "runtime": {
                "runtime_genesis_config": {
                    "parachainsConfiguration": {
                        "config": {
                            "validation_upgrade_frequency": 1,
                            "validation_upgrade_delay": 1
                        }
                    }
                }
            }
        }
    },
      "parachains": [
        {
            "bin": "/unique-chain/current/release/unique-collator",
            "upgradeBin": "/unique-chain/target/release/unique-collator",
            "upgradeWasm": "/unique-chain/target/release/wbuild/{{ FEATURE }}/{{ RUNTIME }}_runtime.compact.compressed.wasm",
            "id": "1000",
            "balance": "1000000000000000000000000",
            "chainRawInitializer": [
                "chainql",
                "--ext-str=REPLICA_FROM",
                "--tla-code=rawSpec=import '${rawSpec}'",
                "--tla-code=forkFrom=std.extVar('REPLICA_FROM')",
                "fork.jsonnet"
            ],
            "nodes": [
                {
                    "port": 31200,
                    "wsPort": 9944,
                    "rpcPort": 9933,
                    "name": "alice",
                    "flags": [
                        "--rpc-cors=all",
                        "--unsafe-rpc-external",
                        "--unsafe-ws-external",
                        "-lxcm=trace"
                    ]
                },
                {
                    "port": 31201,
                    "wsPort": 9945,
                    "rpcPort": 9934,
                    "name": "bob",
                    "flags": [
                        "--rpc-cors=all",
                        "--unsafe-rpc-external",
                        "--unsafe-ws-external",
                        "-lxcm=trace"
                    ]
                }
            ]
        }
    ],
    "simpleParachains": [],
    "hrmpChannels": [],
    "finalization": false
}
