[Unit]
Description=Westend Alice

[Service]
ExecStart=/opt/parity/polkadot \
	--alice \
	--validator \
#        --ws-external \
#        --rpc-external \
#        --rpc-cors all \
	--no-telemetry \
        --base-path /var/local/westend/alice \
        --chain /opt/parity/westend-local.json \
        --execution Wasm \
#       --listen-addr /ip4/127.0.0.1/tcp/9944/ws \
#        --public-addr /ip4/92.53.69.98 \
#	--discover-local \
	--no-mdns \
	--bootnodes /ip4/127.0.0.1/tcp/30336/p2p/12D3KooWR76geqit8nMJtQYuLXNy4oHDVJZdsPLNjTmWhL4TeijW \
		/ip4/127.0.0.1/tcp/30335/p2p/12D3KooWRqnBJPpKntaKmqoDJLxgGR11tconzYLewaeGz2saiXhw \
		/ip4/127.0.0.1/tcp/30334/p2p/12D3KooWRydSwsbQbfBN71DFXxmYt5GHmrVebRmUv9mPU91U3FPE \
	--port 30333 \
	--rpc-port 9843 \
	--ws-port 9844

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
