version: "3.5"

services:
  node-dev:
    build:
      args:
        - "RUST_TOOLCHAIN={{ RUST_TOOLCHAIN }}"
        - "COMMAND={{ COMMAND }}"
    command: $COMMAND
    expose:
      - 9944
      - 9933
    ports:
      - 127.0.0.1:9944:9944
      - 127.0.0.1:9933:9933
