version: "3.5"

services:
  node-parachain:
    build:
      args:
        - "RUST_TOOLCHAIN={{ RUST_TOOLCHAIN }}"
        - "BRANCH={{ BRANCH }}"
        - "REPO_URL={{ REPO_URL }}"
        - "FEATURE={{ FEATURE }}"
        - "RUNTIME={{ RUNTIME }}"
        - "POLKADOT_BUILD_BRANCH={{ POLKADOT_BUILD_BRANCH }}"
        - "MAINNET_TAG={{ MAINNET_TAG }}"
        - "MAINNET_BRANCH={{ MAINNET_BRANCH }}"
      context: ../
      dockerfile: .docker/Dockerfile-parachain-upgrade
      command: export NVM_DIR="$HOME/.nvm" && \
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" && \
    cd /polkadot-launch && \
    yarn start launch-config.json --test-upgrade-parachains -w -n
    image: node-parachain
    container_name: node-parachain
    volumes:
       - type: bind
         source: ./launch-config-forkless-nodata.json
         target: /polkadot-launch/launch-config.json
         read_only: true
    expose:
      - 9944
      - 9933
    ports:
      - 127.0.0.1:9944:9944
      - 127.0.0.1:9933:9933
    logging:
      options:
        max-size: "1m"
        max-file: "3"
