version: "3.5"

services:
  try-runtime:
    build:
      args:
        - "RUST_TOOLCHAIN={{ RUST_TOOLCHAIN }}"
        - "BRANCH={{ BRANCH }}"
        - "REPO_URL={{ REPO_URL }}"
        - "FEATURE={{ FEATURE }}"
        - "FORK_FROM={{ FORK_FROM }}"

