version: "3.5"

services:
  xcm_nodes:
    build:
      args:
        - "RUST_TOOLCHAIN={{ RUST_TOOLCHAIN }}"
        - "BRANCH={{ BRANCH }}"
        - "FEATURE={{ FEATURE }}"
        - "POLKADOT_BUILD_BRANCH={{ POLKADOT_BUILD_BRANCH }}"
        - "POLKADOT_LAUNCH_BRANCH={{ POLKADOT_LAUNCH_BRANCH }}"
    image: testnet_node_{{ NETWORK }}
    container_name: testnet_node_{{ NETWORK }}
    volumes:
       - type: bind
         source: ./testnet-config/launch-config-testnet.json
         target: /polkadot-launch/launch-config.json
         read_only: true          
