version: "3.5"

services:
  blockchain_nodes:
    build:
      context: ../
      dockerfile: .docker/Dockerfile-parachain
      args:
        - RUST_TOOLCHAIN=${RUST_TOOLCHAIN:?err}
        - RUST_C=${RUST_C:?err}
        - POLKA_VERSION=${POLKA_VERSION:?err}
        - FEATURE=${FEATURE:?err}
    volumes:
      - ./launch-config.json:/polkadot-launch/launch-config.json
    env_file:
      - ./.env

#  integration_tests:
#    build:
#      context: tests/
#      dockerfile: Dockerfile-tests
#    environment:
#      RPC_URL: http://blockchain_nodes:9933/
#    volumes:
#      - ./tests/src/config_docker.ts:/unique_parachain/src/config.ts
#      - /home/ubuntu/mochawesome-report:/unique_parachain/mochawesome-report
#    depends_on:
#      - blockchain_nodes
