version: "3.5"

services:
  node-dev:
    build:
      context: ../
      dockerfile: .docker/Dockerfile-chain-dev-unit
      args:
        - "RUST_TOOLCHAIN={{ RUST_TOOLCHAIN }}"
        - "NETWORK={{ NETWORK }}"
    image: node-dev
    container_name: node-dev        
    logging:
      options:
        max-size: "1m"
        max-file: "3"
