version: "3.5"

services:
  forkless-data:
    image: uniquenetwork/ci-forkless-data-local:{{ NETWORK }}-{{ BUILD_TAG }}
    container_name: forkless-data
    expose:
      - 9944
      - 9933
      - 33044
      - 33055
      - 33066
      - 33077
      - 33088
      - 33144
      - 33155
    ports:
      - 127.0.0.1:9944:9944
      - 127.0.0.1:9933:9933
