version: "3.5"

services:
  node-dev:
    build:
      context: .
      dockerfile: Dockerfile-chain-dev
    image: node-dev
    container_name: node-dev
    expose:
      - 9944
      - 9933
    ports:
      - 127.0.0.1:9944:9944
      - 127.0.0.1:9933:9933
    logging:
      options:
        max-size: "1m"
        max-file: "3"
