version: "3.5"

services:
  forkless-data:
    image: uniquenetwork/ci-collator-selection-local:{{ NETWORK }}-{{ BUILD_TAG }}
    container_name: collator-selection-{{ NETWORK }}
    expose:
      - 9944
    ports:
      - 127.0.0.1:9944:9944
