version: "3.5"

services:
  forkless-nodata:
    image: uniquenetwork/ci-forkless-nodata-local:{{ NETWORK }}-{{ BUILD_TAG }}
    container_name: forkless-nodata
    expose:
      - 9944
    ports:
      - 127.0.0.1:9944:9944
