version: "3.5"

services:
  node-o:
    build:
      args:
        - "RUST_TOOLCHAIN={{ RUST_TOOLCHAIN }}"
        - "BRANCH=ci-build-workflow-v2"
        - "REPO_URL={{ REPO_URL }}"
    command: cargo run --release -- --dev -linfo --unsafe-ws-external --rpc-cors=all --unsafe-rpc-external
