[package]
edition = "2021"
license = "GPLv3"
name = "pallet-nonfungible"
version = "0.1.13"

[dependencies]
codec = { default-features = false, features = ['derive'], package = 'parity-scale-codec', version = "3.1.2" }
evm-coder = { default-features = false, path = "../../crates/evm-coder" }
frame-benchmarking = { default-features = false, optional = true, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
frame-support = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
frame-system = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
pallet-common = { default-features = false, path = "../common" }
pallet-evm = { default-features = false, git = "https://github.com/uniquenetwork/unique-frontier", branch = "unique-polkadot-v0.9.37" }
pallet-evm-coder-substrate = { default-features = false, path = "../evm-coder-substrate" }
pallet-structure = { default-features = false, path = "../structure" }
scale-info = { version = "2.0.1", default-features = false, features = ["derive"] }
sp-core = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
sp-std = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.37" }
struct-versioning.path = "../../crates/struct-versioning"
up-data-structs = { default-features = false, path = "../../primitives/data-structs" }

[features]
default = ["std"]
runtime-benchmarks = [
	'frame-benchmarking',
	'frame-support/runtime-benchmarks',
	'frame-system/runtime-benchmarks',
	'up-data-structs/runtime-benchmarks',
]
std = [
	"evm-coder/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-common/std",
	"pallet-evm-coder-substrate/std",
	"pallet-evm/std",
	"pallet-structure/std",
	"sp-runtime/std",
	"sp-std/std",
	"up-data-structs/std",
	'frame-benchmarking/std',
]
stubgen = ["evm-coder/stubgen", "pallet-common/stubgen"]
try-runtime = ["frame-support/try-runtime"]
