################################################################################
# Package

[package]
authors = ['Unique Network <support@uniquenetwork.io>']
build = 'build.rs'
description = 'Opal Runtime'
edition = '2021'
homepage = 'https://unique.network'
license = 'GPLv3'
name = 'opal-runtime'
repository = 'https://github.com/UniqueNetwork/unique-chain'
version.workspace = true

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[features]
default = ['opal-runtime', 'std']
limit-testing = ['pallet-unique/limit-testing', 'up-data-structs/limit-testing']
opal-runtime = [
	'app-promotion',
	'collator-selection',
	'foreign-assets',
	'governance',
	'pallet-test-utils',
	'preimage',
	'refungible',
]
pov-estimate = []
runtime-benchmarks = [
	"pallet-preimage/runtime-benchmarks",
	'cumulus-pallet-parachain-system/runtime-benchmarks',
	'parachains-common/runtime-benchmarks',
	'frame-benchmarking',
	'frame-support/runtime-benchmarks',
	'frame-system-benchmarking',
	'frame-system/runtime-benchmarks',
	'pallet-app-promotion/runtime-benchmarks',
	'pallet-balances/runtime-benchmarks',
	'pallet-collator-selection/runtime-benchmarks',
	'pallet-collective/runtime-benchmarks',
	'pallet-common/runtime-benchmarks',
	'pallet-configuration/runtime-benchmarks',
	'pallet-democracy/runtime-benchmarks',
	'pallet-ethereum/runtime-benchmarks',
	'pallet-evm-coder-substrate/runtime-benchmarks',
	'pallet-evm-migration/runtime-benchmarks',
	'pallet-foreign-assets/runtime-benchmarks',
	'pallet-fungible/runtime-benchmarks',
	'pallet-identity/runtime-benchmarks',
	'pallet-inflation/runtime-benchmarks',
	'pallet-maintenance/runtime-benchmarks',
	'pallet-membership/runtime-benchmarks',
	'pallet-nonfungible/runtime-benchmarks',
	'pallet-ranked-collective/runtime-benchmarks',
	'pallet-referenda/runtime-benchmarks',
	'pallet-refungible/runtime-benchmarks',
	'pallet-scheduler/runtime-benchmarks',
	'pallet-structure/runtime-benchmarks',
	'pallet-timestamp/runtime-benchmarks',
	'pallet-unique/runtime-benchmarks',
	'pallet-utility/runtime-benchmarks',
	'pallet-xcm/runtime-benchmarks',
	'pallet-message-queue/runtime-benchmarks',
	'polkadot-runtime-common/runtime-benchmarks',
	'sp-runtime/runtime-benchmarks',
	'staging-xcm-builder/runtime-benchmarks',
]
std = [
	'cumulus-pallet-aura-ext/std',
	'cumulus-pallet-parachain-system/std',
	'cumulus-pallet-xcm/std',
	'cumulus-pallet-xcmp-queue/std',
	'cumulus-primitives-aura/std',
	'cumulus-primitives-core/std',
	'cumulus-primitives-utility/std',
	'parachains-common/std',
	'frame-executive/std',
	"frame-metadata-hash-extension/std",
	'frame-support/std',
	'frame-system-rpc-runtime-api/std',
	'frame-system/std',
	'frame-try-runtime/std',
	'pallet-aura/std',
	'pallet-balances/std',
	'pallet-collective/std',
	'pallet-democracy/std',
	'pallet-gov-origins/std',
	'pallet-membership/std',
	'pallet-ranked-collective/std',
	'pallet-referenda/std',
	'pallet-scheduler/std',
	'parity-scale-codec/std',
	# 'pallet-contracts/std',
	# 'pallet-contracts-primitives/std',
	# 'pallet-contracts-rpc-runtime-api/std',
	# 'pallet-contract-helpers/std',
	"pallet-authorship/std",
	"pallet-preimage/std",
	"pallet-session/std",
	"pallet-state-trie-migration/std",
	"sp-consensus-aura/std",
	'app-promotion-rpc/std',
	'evm-coder/std',
	'fp-rpc/std',
	'fp-self-contained/std',
	'pallet-app-promotion/std',
	'pallet-balances-adapter/std',
	'pallet-base-fee/std',
	'pallet-charge-transaction/std',
	'pallet-collator-selection/std',
	'pallet-common/std',
	'pallet-configuration/std',
	'pallet-ethereum/std',
	'pallet-evm-coder-substrate/std',
	'pallet-evm-contract-helpers/std',
	'pallet-evm-migration/std',
	'pallet-evm-transaction-payment/std',
	'pallet-evm/std',
	'pallet-fungible/std',
	'pallet-identity/std',
	'pallet-inflation/std',
	'pallet-nonfungible/std',
	'pallet-refungible/std',
	'pallet-structure/std',
	'pallet-sudo/std',
	'pallet-timestamp/std',
	'pallet-transaction-payment-rpc-runtime-api/std',
	'pallet-transaction-payment/std',
	'pallet-treasury/std',
	'pallet-unique/std',
	'pallet-utility/std',
	'pallet-xcm/std',
	'pallet-message-queue/std',
	'polkadot-runtime-common/std',
	'serde',
	'sp-api/std',
	'sp-block-builder/std',
	'sp-core/std',
	'sp-inherents/std',
	'sp-io/std',
	'sp-offchain/std',
	'sp-runtime/std',
	'sp-session/std',
	'sp-std/std',
	'sp-storage/std',
	'sp-transaction-pool/std',
	'sp-version/std',
	'sp-genesis-builder/std',
	'staging-parachain-info/std',
	'staging-xcm-builder/std',
	'staging-xcm-executor/std',
	'staging-xcm/std',
	'up-common/std',
	'up-data-structs/std',
	'up-pov-estimate-rpc/std',
	'up-rpc/std',
	'up-sponsorship/std',

	"orml-traits/std",
	"orml-vesting/std",
	"orml-xcm-support/std",
	"orml-xtokens/std",
	"pallet-foreign-assets/std",

	'pallet-maintenance/std',
	'pallet-test-utils?/std',
]
try-runtime = [
	"pallet-authorship/try-runtime",
	"pallet-collator-selection/try-runtime",
	"pallet-identity/try-runtime",
	"pallet-preimage/try-runtime",
	"pallet-session/try-runtime",
	"pallet-state-trie-migration/try-runtime",
	'cumulus-pallet-aura-ext/try-runtime',
	'cumulus-pallet-dmp-queue/try-runtime',
	'cumulus-pallet-parachain-system/try-runtime',
	'cumulus-pallet-xcm/try-runtime',
	'cumulus-pallet-xcmp-queue/try-runtime',
	'fp-self-contained/try-runtime',
	'frame-executive/try-runtime',
	'frame-support/try-runtime',
	'frame-system/try-runtime',
	'frame-try-runtime',
	'frame-try-runtime?/try-runtime',
	'orml-vesting/try-runtime',
	'orml-xtokens/try-runtime',
	'pallet-app-promotion/try-runtime',
	'pallet-aura/try-runtime',
	'pallet-balances-adapter/try-runtime',
	'pallet-balances/try-runtime',
	'pallet-base-fee/try-runtime',
	'pallet-charge-transaction/try-runtime',
	'pallet-collective/try-runtime',
	'pallet-collective/try-runtime',
	'pallet-common/try-runtime',
	'pallet-configuration/try-runtime',
	'pallet-democracy/try-runtime',
	'pallet-democracy/try-runtime',
	'pallet-ethereum/try-runtime',
	'pallet-evm-coder-substrate/try-runtime',
	'pallet-evm-contract-helpers/try-runtime',
	'pallet-evm-migration/try-runtime',
	'pallet-evm-transaction-payment/try-runtime',
	'pallet-evm/try-runtime',
	'pallet-foreign-assets/try-runtime',
	'pallet-fungible/try-runtime',
	'pallet-gov-origins/try-runtime',
	'pallet-inflation/try-runtime',
	'pallet-maintenance/try-runtime',
	'pallet-membership/try-runtime',
	'pallet-membership/try-runtime',
	'pallet-nonfungible/try-runtime',
	'pallet-ranked-collective/try-runtime',
	'pallet-referenda/try-runtime',
	'pallet-refungible/try-runtime',
	'pallet-scheduler/try-runtime',
	'pallet-scheduler/try-runtime',
	'pallet-structure/try-runtime',
	'pallet-sudo/try-runtime',
	'pallet-test-utils?/try-runtime',
	'pallet-timestamp/try-runtime',
	'pallet-transaction-payment/try-runtime',
	'pallet-treasury/try-runtime',
	'pallet-unique/try-runtime',
	'pallet-utility/try-runtime',
	'pallet-xcm/try-runtime',
	'pallet-message-queue/try-runtime',
	'polkadot-runtime-common/try-runtime',
	'staging-parachain-info/try-runtime',
]

app-promotion = []
collator-selection = []
fast-inflation = []
foreign-assets = []
gov-test-timings = []
governance = []
preimage = []
refungible = []
session-test-timings = []
metadata-hash = ["substrate-wasm-builder/metadata-hash"]
on-chain-release-build = ["metadata-hash"]

################################################################################
# local dependencies

[dependencies]
cumulus-pallet-aura-ext = { workspace = true }
cumulus-pallet-dmp-queue = { workspace = true }
cumulus-pallet-parachain-system = { workspace = true }
cumulus-pallet-xcm = { workspace = true }
cumulus-pallet-xcmp-queue = { workspace = true }
cumulus-primitives-aura = { workspace = true }
cumulus-primitives-core = { workspace = true }
cumulus-primitives-storage-weight-reclaim = { workspace = true }
cumulus-primitives-timestamp = { workspace = true }
cumulus-primitives-utility = { workspace = true }
parachains-common = { workspace = true }
frame-executive = { workspace = true }
frame-metadata-hash-extension = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
frame-system-rpc-runtime-api = { workspace = true }
orml-traits = { workspace = true, package = "orml-traits"}
orml-vesting = { workspace = true }
orml-xcm-support = { workspace = true }
orml-xtokens = { workspace = true }
pallet-aura = { workspace = true }
pallet-asset-tx-payment = { workspace = true }
pallet-authorship = { workspace = true }
pallet-balances = { features = ["insecure_zero_ed"], workspace = true }
pallet-preimage = { workspace = true }
pallet-session = { workspace = true }
pallet-state-trie-migration = { workspace = true }
pallet-sudo = { workspace = true }
pallet-timestamp = { workspace = true }
pallet-transaction-payment = { workspace = true }
pallet-transaction-payment-rpc-runtime-api = { workspace = true }
pallet-treasury = { workspace = true }
pallet-utility = { workspace = true }
pallet-xcm = { workspace = true }
pallet-message-queue = { workspace = true }
parity-scale-codec = { workspace = true }
polkadot-parachain-primitives = { workspace = true }
polkadot-runtime-common = { workspace = true }
smallvec = { workspace = true }
sp-api = { workspace = true }
sp-arithmetic = { workspace = true }
sp-block-builder = { workspace = true }
sp-consensus-aura = { workspace = true }
sp-core = { workspace = true }
sp-inherents = { workspace = true }
sp-io = { workspace = true }
sp-offchain = { workspace = true }
sp-runtime = { workspace = true }
sp-session = { workspace = true }
sp-std = { workspace = true }
sp-storage = { workspace = true }
sp-transaction-pool = { workspace = true }
sp-version = { workspace = true }
sp-genesis-builder = { workspace = true }
staging-parachain-info = { workspace = true }
staging-xcm = { workspace = true }
staging-xcm-builder = { workspace = true }
staging-xcm-executor = { workspace = true }
xcm-runtime-apis = { workspace = true }

app-promotion-rpc = { workspace = true }
derivative = { workspace = true }
evm-coder = { workspace = true }
fp-evm = { workspace = true }
fp-rpc = { workspace = true }
fp-self-contained = { workspace = true }
log = { workspace = true }
num_enum = { workspace = true }
pallet-app-promotion = { workspace = true }
pallet-balances-adapter = { workspace = true }
pallet-base-fee = { workspace = true }
pallet-charge-transaction = { workspace = true }
pallet-collator-selection = { workspace = true }
pallet-collective = { workspace = true }
pallet-common = { workspace = true }
pallet-configuration = { workspace = true }
pallet-democracy = { workspace = true }
pallet-ethereum = { workspace = true }
pallet-evm = { workspace = true }
pallet-evm-coder-substrate = { workspace = true }
pallet-evm-contract-helpers = { workspace = true }
pallet-evm-migration = { workspace = true }
pallet-evm-precompile-simple = { workspace = true }
pallet-evm-transaction-payment = { workspace = true }
pallet-foreign-assets = { workspace = true }
pallet-fungible = { workspace = true }
pallet-gov-origins = { workspace = true }
pallet-identity = { workspace = true }
pallet-inflation = { workspace = true }
pallet-maintenance = { workspace = true }
pallet-membership = { workspace = true }
pallet-nonfungible = { workspace = true }
pallet-ranked-collective = { workspace = true }
pallet-referenda = { workspace = true }
pallet-refungible = { workspace = true }
pallet-scheduler = { workspace = true }
pallet-structure = { workspace = true }
pallet-unique = { workspace = true }
precompile-utils-macro = { workspace = true }
scale-info = { workspace = true }
up-common = { workspace = true }
up-data-structs = { workspace = true }
up-pov-estimate-rpc = { workspace = true }
up-rpc = { workspace = true }
up-sponsorship = { workspace = true }

################################################################################
# Optional dependencies

frame-benchmarking = { workspace = true, optional = true }
frame-system-benchmarking = { workspace = true, optional = true }
frame-try-runtime = { workspace = true, optional = true }
serde = { workspace = true, optional = true }

################################################################################
# Test dependencies

pallet-test-utils = { workspace = true, optional = true }

################################################################################
# Other Dependencies

hex-literal = { workspace = true }
impl-trait-for-tuples = { workspace = true }

[build-dependencies]
substrate-wasm-builder = { workspace = true }
