[package]
authors = ['Substrate DevHub <https://github.com/substrate-developer-hub>']
description = 'FRAME pallet nft'
edition = '2018'
homepage = 'https://substrate.io'
license = 'Unlicense'
name = 'pallet-nft'
repository = 'https://github.com/substrate-developer-hub/nft/'
version = '2.0.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

# alias "parity-scale-code" to "codec"
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '1.3.4'

[dependencies.frame-support]
default-features = false
git = 'https://github.com/usetech-llc/substrate.git'
branch = 'v2.0.0_release'
version = '2.0.0'

[dependencies.frame-system]
default-features = false
git = 'https://github.com/usetech-llc/substrate.git'
branch = 'v2.0.0_release'
version = '2.0.0'

[dev-dependencies.sp-core]
default-features = false
git = 'https://github.com/usetech-llc/substrate.git'
branch = 'v2.0.0_release'
version = '2.0.0'

[dev-dependencies.sp-io]
default-features = false
git = 'https://github.com/usetech-llc/substrate.git'
branch = 'v2.0.0_release'
version = '2.0.0'

[dependencies.sp-runtime]
default-features = false
git = 'https://github.com/usetech-llc/substrate.git'
branch = 'v2.0.0_release'
version = '2.0.0'
	
[dependencies]
# third-party dependencies
serde = { version = "1.0.102", features = ["derive"] }
log = "0.4.8"

[dependencies.sp-std]
default-features = false
git = 'https://github.com/usetech-llc/substrate.git'
branch = 'v2.0.0_release'
version = '2.0.0'

[dependencies.transaction-payment]
default-features = false
git = 'https://github.com/usetech-llc/substrate.git'
package = 'pallet-transaction-payment'
branch = 'v2.0.0_release'
version = '2.0.0'

[dependencies.frame-benchmarking]
version = "2.0.0"
default-features = false
git = 'https://github.com/usetech-llc/substrate.git'
branch = 'v2.0.0_release'
optional = true

[dependencies.pallet-contracts]
default-features = false
git = 'https://github.com/usetech-llc/substrate.git'
package = 'pallet-contracts'
branch = 'v2.0.0_release'
version = '2.0.0'

[features]
default = ['std']
std = [
    'codec/std',
    "serde/std",
    'frame-support/std',
    'frame-system/std',
    'sp-std/std',
    'sp-runtime/std',
    'frame-benchmarking/std',
]
runtime-benchmarks = ["frame-benchmarking"]
