# Workflow which controls starts nested workflows.
name: master

# Triger: PR at 'master' branch with following types of events.
on:
  pull_request:
    branches: [ 'master' ]
    types: [ opened, reopened, synchronize, ready_for_review ]

#Concurency group for control execution queue over github runners.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

# List of a jobs included into Workflow.
jobs:

  unit-test:
    uses: ./.github/workflows/unit-test_v2.yml

  node-only-update:
    uses: ./.github/workflows/node-only-update_v2.yml

  forkless:
    uses: ./.github/workflows/forkless.yml

  canary:
    uses: ./.github/workflows/canary.yml
    secrets: inherit # pass all secrets

  xcm:
    uses: ./.github/workflows/xcm.yml
    secrets: inherit # pass all secrets

  codestyle:
    uses: ./.github/workflows/codestyle_v2.yml
