# Nested workflow for checks related to formatting Rust code 

name: cargo fmt

# Triger: only call from main workflow(re-usable workflows)
on:
  workflow_call:

jobs:
  rustfmt:
    runs-on: self-hosted-ci

    steps:
      - uses: actions/checkout@v3
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            default: true
            target: wasm32-unknown-unknown
            components: rustfmt, clippy 
      - name: Run cargo fmt
        run: cargo fmt -- --check   # In that mode it returns only exit code.
      - name: Cargo fmt state
        if: success()
        run: echo "Nothing to do. Command 'cargo fmt -- --check' returned exit code 0."


  clippy:
    if: ${{ false }}
    runs-on: self-hosted-ci
      
    steps:
         
      - uses: actions/checkout@v3
      - name: Install substrate dependencies
        run: sudo apt-get install libssl-dev pkg-config libclang-dev clang
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            default: true
            target: wasm32-unknown-unknown
            components: rustfmt, clippy
      - name: Run cargo check
        run: cargo clippy -- -Dwarnings
