name: Build & test

# Controls when the action will run. 
on:
 # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ develop ]
 # pull_request:
 #   branches: [ develop ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

  #  if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
          
     #runs ssh connection
      - name: Go to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.SERVER_PORT }}
          command_timeout: 240m
          script: |
            eval $(ssh-agent -s)
            ssh-add /home/polkadot/.ssh/git_hub
            git clone git@github.com:usetech-llc/nft_private.git
            cd nft_private
            git checkout develop
            # git pull --all
            chmod +x ci_node.sh
            ./ci_node.sh
            rm -rf /home/polkadot/nft_private
