name: Tests code style

on:
  pull_request:
    branches:
      - develop
    types:
      - opened
      - edited
jobs:
  build:
    runs-on: self-hosted-ci

    steps:
    - uses: actions/checkout@v2
    - name: Install modules
      run: cd tests && yarn
    - name: Run ESLint
      run: cd tests && yarn eslint --ext .ts,.js src/
