# Yarn Eslint over tests
#
name: yarn eslint

# Triger: only call from main workflow(re-usable workflows)
on:
  workflow_call:

jobs:
  code_style:
    runs-on: [ self-hosted-ci ]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install modules
        run: cd tests && yarn
      - name: Run ESLint
        run: cd tests && yarn eslint --ext .ts,.js src/
