# https://cryptousetech.atlassian.net/wiki/spaces/CI/pages/2586738699/Unit+Tests
# Re-Usable Workflow for lanching Unit tests
name: unit tests

# Controls when the action will run.
# Triger: only call from main workflow(re-usable workflows)
on:
  workflow_call:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  
  unit_tests:
    # The type of runner that the job will run on
    runs-on: [ self-hosted-ci,medium ]
    timeout-minutes: 1380

    name: ${{ github.base_ref }}

    continue-on-error: true         #Do not stop testing of matrix runs failed.  As it decided during PR review - it required 50/50& Let's check it with false.

    steps:

      - name: Clean Workspace
        uses: AutoModality/action-clean@v1.1.0

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4.1.7
        with:
          ref: ${{ github.head_ref }}  #Checking out head commit

      - name: Read .env file
        uses: xom9ikk/dotenv@v2.3.0

      - name: Generate ENV related extend file for docker-compose
        uses: cuchi/jinja2-action@v1.2.0
        with:
          template: .docker/docker-compose.tmp-unit.j2
          output_file: .docker/docker-compose.unit.yml

      - name: Show build configuration
        run: cat .docker/docker-compose.unit.yml

      - name: Build the stack
        run: docker compose -f ".docker/docker-compose.unit.yml" up --build  --force-recreate --timeout 300 --remove-orphans --exit-code-from node-dev

      - name: Stop running containers
        if: always()                   # run this step always
        run: docker compose -f ".docker/docker-compose.unit.yml" down
        
      - name: Remove builder cache
        if: always()                   # run this step always
        run: |
          docker builder prune -f -a
          docker system prune -f
          docker image prune -f -a
