# Integration test in --dev mode
# https://cryptousetech.atlassian.net/wiki/spaces/CI/pages/2586411104/Integration+tests
name: yarn dev

# Triger: only call from main workflow(re-usable workflows)
on:
  workflow_call:



# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  
  dev_build_int_tests:
    # The type of runner that the job will run on
    runs-on: [self-hosted-ci,medium]
    timeout-minutes: 1380

    name: ${{ matrix.network }}

    continue-on-error: false         #Do not stop testing of matrix runs failed.  As it decided during PR review - it required 50/50& Let's check it with false.

    strategy:
      matrix:
        include:
          - network: "opal"
          - network: "quartz"
          - network: "unique"

    steps:

      - name: Clean Workspace
        uses: AutoModality/action-clean@v1.1.0

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3.1.0
        with:
          ref: ${{ github.head_ref }}  #Checking out head commit

      - name: Read .env file
        uses: xom9ikk/dotenv@v2

      - name: Generate ENV related extend file for docker-compose
        uses: cuchi/jinja2-action@v1.2.0
        with:
          template: .docker/docker-compose.tmp-dev.j2
          output_file: .docker/docker-compose.${{ matrix.network }}.yml
          variables: |
            RUST_TOOLCHAIN=${{ env.RUST_TOOLCHAIN }}
            NETWORK=${{ matrix.network }}
    

      - name: Show build configuration
        run: cat .docker/docker-compose.${{ matrix.network }}.yml

      - name: Build the stack
        run: docker-compose -f ".docker/docker-compose.${{ matrix.network }}.yml" up -d --build --remove-orphans

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Run tests
        working-directory: tests
        run: |
          yarn install
          yarn add mochawesome
          ./scripts/wait_for_first_block.sh
          echo "Ready to start tests"
          yarn polkadot-types
          NOW=$(date +%s) && yarn test --reporter mochawesome --reporter-options reportFilename=test-${NOW}
        env:
          RPC_URL: http://127.0.0.1:9933/

      - name: Test Report
        uses: phoenix-actions/test-reporting@v8
        id: test-report
        if: success() || failure()    # run this step even if previous step failed
        with:
          name: int test results - ${{ matrix.network }}            # Name of the check run which will be created
          path: tests/mochawesome-report/test-*.json    # Path to test results
          reporter: mochawesome-json
          fail-on-error: 'false'

      - name: Read output variables
        run: |
          echo "url is ${{ steps.test-report.outputs.runHtmlUrl }}"

      - name: Stop running containers
        if: always()                   # run this step always
        run: docker-compose -f ".docker/docker-compose.${{ matrix.network }}.yml" down

      - name: Remove builder cache
        if: always()                   # run this step always
        run: |
          docker builder prune -f -a
          docker system prune -f
          docker image prune -f -a

  # check:
  #   if: always()
  #   runs-on: [self-hosted-ci]
  #   needs:
  #   - dev_build_int_tests

  #   steps:
  #   - name: Install python3
  #     uses: actions/setup-python@v4
  #     with:
  #       python-version: '3.10'

  #   - name: Decide whether the needed jobs succeeded or failed
  #     uses: re-actors/alls-green@v1.2.2
  #     with:
  #       jobs: ${{ toJSON(needs) }}