[package]
edition = "2021"
name = "pallet-structure"
version = "0.1.2"

[dependencies]
parity-scale-codec = { version = "3.2.2", default-features = false, features = ["derive"] }
scale-info = { version = "2.0.1", default-features = false, features = ["derive"] }

frame-benchmarking = { default-features = false, optional = true, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
frame-support = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
frame-system = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
log = { version = "0.4.17", default-features = false }
pallet-common = { path = "../common", default-features = false }
pallet-evm = { default-features = false, git = "https://github.com/uniquenetwork/frontier", branch = "unique-polkadot-v0.9.36" }
<<<<<<< HEAD
sp-std = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
up-data-structs = { path = "../../primitives/data-structs", default-features = false }

[features]
default = ["std"]
runtime-benchmarks = ['frame-benchmarking', 'pallet-common/runtime-benchmarks']
std = [
	"frame-benchmarking/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-common/std",
	"pallet-evm/std",
	"parity-scale-codec/std",
	"scale-info/std",
	"sp-std/std",
	"up-data-structs/std",
]
=======
log = { version = "0.4.17", default-features = false }

[features]
default = ["std"]
std = ["frame-support/std", "frame-system/std", "frame-benchmarking/std", "sp-std/std", "pallet-common/std", "scale-info/std", "parity-scale-codec/std", "up-data-structs/std", "pallet-evm/std"]
runtime-benchmarks = ['frame-benchmarking', 'pallet-common/runtime-benchmarks']
>>>>>>> 6ad82a28 (fix: disallow nesting under non-existing tokens)
try-runtime = ["frame-support/try-runtime"]
